.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #085067, #28b7e3,  #45b89b);;
}

.auth-form-container, .login-form, .signup-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 2rem;
  border: 1px solid white;
  border-radius: 10px;
}

label {
  text-align: left;
  padding: 0.15rem 1;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

p {
  text-align: left;
  color: red;
}

button {
  border: none;
  color: #28b7e3;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  font-size: smaller;
  padding: 10px;
}

.header {
  display: flex;
}

.hamburger-menu {
  flex: 1;
  margin: auto;
  text-align: justify;
}

.hamburger-menu-icon{
  padding: 0 50px;
}

.header::after {
  content: '';
  flex: 1;
}

.title {
  margin: 2px 3px;
  padding: 7px;
}
