// Display settings for application
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #085067, #28b7e3,  #45b89b);;
}

// Display settings for login and signup forms
.auth-form-container, .login-form, .signup-form {
  display: flex;
  flex-direction: column;
}

// Display settings for authentication form container
.auth-form-container {
  padding: 2rem;
  border: 1px solid white;
  border-radius: 10px;
}

// Display settings for input field labels
label {
  text-align: left;
  padding: 0.15rem 1;
}

// Display settings for input boxes
input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

// Display settings for validation error messages
p {
  text-align: left;
  color: red;
}

// Display settings buttons
button {
  border: none;
  background-color: #28b7e3;
  color: white;
  padding: 10px;
  cursor: pointer;
}

// Display settings for link buttons
.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  font-size: smaller;
  padding: 10px;
}

// Display settings for headers
.header {
  display: flex;
}

// Display settings for hamburger menu
.hamburger-menu {
  flex: 1;
  margin: auto;
  text-align: justify;
}

// Display settings for hamburger menu icon
.hamburger-menu-icon{
  padding: 0 50px;
}

// Display settings for header
.header::after {
  content: '';
  flex: 1;
}

// Display settings for title
.title {
  margin: 2px 3px;
  padding: 7px;
}

// Display settings for location search box
.search-box {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px 0px;
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

// Display settings for map recenter button
.recenter-button {
  position: absolute;
  top: 60px;
  left: calc(50% - 130px);
  transform: translateX(-50%);
  background: none;
  border: none;
  z-index: 10;
}

// Display settings for locate address button
.locate-button {
  position: absolute;
  top: 60px;
  left: calc(50% + 130px);
  transform: translateX(-50%);
  background: none;
  border: none;
  z-index: 10;
}

// Display settings for map recenter button image
.recenter-button>img {
  width: 50px;
  height: auto;
}

// Display settings for locate address button
.locate-button > img {
  width: 50px;
  height: auto;
}

// Display settings for info window for marker information
.info-window>h2 {
  color: #333333;
  font-weight: 500;
  font-size: 14px;
}

// Display settings for info window for marker information
.info-window>div {
  color: #333333;
  font-weight: 400;
  text-align: center;
}

// Display settings for info window for marker information
.info-window>a {
  color: #1A73E8;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

// Display settings for shelters, food banks, daycares marker display button
.shelters-button,
.food-banks-button,
.daycares-button {
  padding: 10px 20px;
  position: absolute;
  top: 89%;
  font-size: 20px;
  font-weight: bold;
  transform: translateX(-50%);
  border-radius: 5%;
}

// Display settings for shelters marker display button
.shelters-button {
  background-color: #00AEEF;
  left: 25%;
}

// Display settings for foodbanks marker display button
.food-banks-button {
  background-color: #AE00EF;
  left: 50%;
}

// Display settings for daycares marker display button
.daycares-button {
  background-color: #EFAE00;
  left: 75%;
}
